<h1>AjaxApp</h1>
<%= form_with url:  "/posts", method: :post,id: "form" do |form| %>
<%# 新規投稿はpostsコントローラーのcreateアクションで行われる %>
<%# そのアクションのURIは/postであるため"/posts"としている %>
<%# そのURIのHTTPメソッドがpostなのでmethod: :postとしている %>
  <%= form.text_field :content %>
<%# ブロック変数formとtext_fieldを用いることで入力欄を作成しています %>
<%# そのフォームに入力したものはcontentカラムの内容としてDBに保存するために:contentとしています %>
  <%= form.submit '投稿する' , id: "submit" %>
<%# ブロック変数formとsubmitを用いることで送信ボタンを作成することができます %>
<%# id属性としてsubmitを指定しています %>
<% end %>

<div id="list">
</div>

<% @posts.each do |post| %>
<div class="post">
  <div class="post-date">
    投稿日時：<%= post.created_at %>
  </div>
  <div class="post-content">
    <%= post.content %>
  </div>
</div>
<% end %>
